.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Darker text for contrast */
    overflow-y: scroll;
    z-index: 30;
}

.sidebar-heading {
    text-align: center;
    color: #007bff; /* Bootstrap primary blue for a pop of color */
    margin-bottom: 1rem;
}

.sidebar-text {
    margin-bottom: .5rem;
    font-weight: 500; /* Slightly bolder font for readability */
}

.sidebar-divider {
    border-color: #dee2e6; /* Light divider for subtle separation */
}

.sidebar-dropdown, .sidebar-slider {
    background-color: #e9ecef; /* Very light gray for inputs */
    border-radius: .25rem; /* Match Bootstrap's border radius */
}
@keyframes dash-animation {
    0% { left: 0; opacity: 1; }
    100% { left: 100%; opacity: 0; }
}

.dash-element {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 5px;
    background-color: #007BFF;
    animation: dash-animation 20s linear forwards;
    animation-name: dash-animation;
    animation-duration: 30s; /* Explicitly setting duration */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; /* Run only once */
}

/* Additional styling for the dropdowns and sliders can be added here */

